*{
    background-color:rgb(246, 229, 250);
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: double;
    font-weight: bold;
}
.error{
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    font-size: 1.2rem;
}